html {
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
}

.project-year {
  color: gray;
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  margin-top: 0.25rem;
}

.chart-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  flex-shrink: 0;
}

#projects-pie-plot path {
  transition: 300ms;
  cursor: pointer;
}

#projects-pie-plot:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

.legend {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1.75rem;
  list-style: none;
  margin: 0;
  padding: 1rem;
  border: 1px solid color-mix(in oklch, CanvasText, Canvas 75%);
  border-radius: 12px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background: var(--color);
  border-radius: 4px;
  display: inline-block;
}

.selected {
  --color: oklch(60% 45% 0) !important;
}

.selected:is(path) {
  fill: var(--color);
}